<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizmon">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizMon">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.shop.shop_phobien"/>
        <activity android:name=".ui.shop.shop_tim"/>
        <activity android:name=".ui.shop.shop_xu"/>
        <activity android:name=".ui.shop.shop_pvp"/>
        <activity android:name=".ui.shop.activity_shop" />
        <activity android:name=".ui.pet.PetActivity"/>
        <activity android:name=".ui.level.LevelMapActivity"/>
        <activity android:name=".ui.level.TreasureActivity"/>
        <activity android:name=".ui.level.SpinWheelActivity"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"/>
        <receiver
            android:name=".ui.notification.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>